<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TodoList</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">
    <style type="text/css">
        input[type=text],
        input[type=password] {
            width: 50%;
            padding: 6px 12px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        body {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px;
        }

        .wrapper {
            padding: 20px;
            width: 50%;
        }

        .button {
            background: rgb(34, 87, 233);
            color: #ffffff;
            width: 15%;
        }

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 5px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>

<body>
    <div class="wrapper">
        <form action="/" method="POST">
            <label for="name">Name</label>
            <input type="text" name="name" placeholder="insert your name" required><br>
            <label for="task">Task</label>
            <input type="text" name="newtask" placeholder="insert new task" required><br>
            <button class="button">Submit Task</button>
            <h2> Added Task </h2>
            <% for( var i = 0; i < tasks.length; i++){ %>
            <li><input type="checkbox" name="check" value="<%= tasks[i] %>" />
                <%= tasks[i] %>
            </li>
            <% } %>
        </form>
    </div>
</body>

</html>